<app-main-header></app-main-header>
<div class="container-xxl position-relative bg-white d-flex p-0">
  <app-sidebar></app-sidebar>
  <div class="content">
    <div class="container mt-5 ">
      <app-eratetypes></app-eratetypes>
      <div class="card">
        <p-table [value]="products" [tableStyle]="{ 'min-width': '50rem' }" [paginator]="true" [rows]="5"  [showCurrentPageReport]="true">
            <ng-template pTemplate="header">
                <tr>
                    <th>Code</th>
                    <th>Name</th>
                    <th>Category</th>
                    <th>Quantity</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-product>
                <tr>
                    <td>{{ product.code }}</td>
                    <td>{{ product.name }}</td>
                    <td>{{ product.category }}</td>
                    <td>{{ product.quantity }}</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
    </div>
  </div>
</div>