<nav class="navbar navbar-expand bg-light navbar-light sticky-top px-4 py-0">
    <a href="index.html" class="navbar-brand d-flex d-lg-none me-4">
        <h2 class="text-primary mb-0"><i class="fa fa-hashtag"></i></h2>
    </a>
    <a href="#" class="sidebar-toggler flex-shrink-0">
        <i class="fa fa-bars"></i>
    </a>
    <a href="index.html" class="navbar-brand mx-4 mb-3">
        <h3 class="text-primary">SCHOOL APP</h3>
    </a>

    <div class="navbar-nav align-items-right">
        <a href="/acmanufacturertype" class="nav-item nav-link">Home</a>
        <a href="/airconditionertype" class="nav-item nav-link">About</a>
        <a href="/cableconditions" class="nav-item nav-link">Services</a>
    </div>
</nav>